{% extends 'base.html.twig' %}

{% block title %}Vos disponibilités{% endblock %}

{% block body %}

{# bloqué les dates passé peu-être fait en js/jQuery #}
    <div class="alert alert-primary hidden" role="alert">
        This is a primary alert with Give it a click if you like.
    </div>
    {% for availability in availabilities %}
    <section>
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col-md-4 p-3 cardMyAvailability">
                <p>Disponible du {{availability.start_date | date('d-m-Y') }} Au {{availability.end_date | date('d-m-Y') }}</p>
                <p>Kilomètrage maximum :{{availability.commute_distance}}</p>
                <a href="{{path('user_edit_availability',  { 'id': availability.id })}}"><button class="btn btn-secondary">modifier</button></a>
                <a class="deleteLink" href="{{path('user_delete_availability',  { 'id': availability.id })}}"><button class="btn btn-danger">Supprimer</button></a>
            </div>
        </div>
    </section>
        
    {% endfor %}
{% endblock %}