{% extends 'base.html.twig' %}

{% block title %}Vos disponibilités{% endblock %}

{% block body %}

{# bloqué les dates passé peu-être fait en js/jQuery #}
    <div class="alert alert-primary hidden" role="alert">
        This is a primary alert with Give it a click if you like.
    </div>
<section class="row d-flex flex-wrap justify-content-center" >
    {% for availability in availabilities %}
            <div class="col-md-3 p-3 m-3 cardMyAvailability">
                <div class="row">
                <div class="col">
                <p> <span> Disponible du : </span> {{availability.start_date | date('d-m-Y') }} Au {{availability.end_date | date('d-m-Y') }}</p>
                <p> <span>Kilomètrage maximum : </span>{{availability.commute_distance}}</p>
            </div>
                <div class="col insideCardCol2">
                    <a href="{{path('user_edit_availability',  { 'id': availability.id })}}"><button class="btn btn-secondary mt-3">modifier</button></a>
                    <a class="deleteLink" href="{{path('user_delete_availability',  { 'id': availability.id })}}"><button class="btn btn-danger colorBtnDelete mt-3 mb-3">Supprimer</button></a>
                </div>
                </div>
            </div>
    {% endfor %}
</section>
{% endblock %}