{% extends 'base.html.twig' %}



{% block body %}
{% for message in app.flashes('addAvailabiltyError') %}
        <div class="alert alert-danger appFlashError">
            {{ message }}
        </div>
{% endfor %}
{% for message in app.flashes('addAvailabiltySuccess') %}
        <div class="alert alert-success appFlashError">
            {{ message }}
        </div>
{% endfor %}

{{form_start(form, {attr: {novalidate: 'novalidate'}})}}
    <div class="row justify-content-center">
        <div class="pageTitle">
            Programmer mes disponibilités :
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            {{form_row(form.startDate)}}
            {{form_row(form.endDate)}}
            {{form_row(form.commuteDistance)}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-secondary mt-3" type="submit">Ajouter cette disponibilité</button>
        </div>
    </div>
{{form_end(form)}}


{% endblock %}