{% extends 'base.html.twig' %}

{% block body %}


    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="pageTitle">
                Crédits
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto ">
            <h5 class="my-3 text-center">Ce site a été développé par : </h5>
                <div class="card my-3 border-primary" style="max-width: 520px;">
                    <h5 class="card-header">
                        Benoit Baudrin
                    </h5>
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="{{ asset('../assets/img/pfp/pfp_benoit.jpg') }}" class="img-fluid rounded-start" alt="Profile Pic Benoit">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                
                                <p class="card-text">Développeur Web en formation <br> WebForce3 Marseille</p>
                                <div class="card-socialLogos">
                                    <a href="https://www.linkedin.com/in/benoit-baudrin-vg">
                                        <img src="{{ asset('../assets/img/linkedin_logo_small.png') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-3 border-primary" style="max-width: 520px;">
                    <h5 class="card-header">
                        Etienne Guignard
                    </h5>
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="https://media-exp1.licdn.com/dms/image/D4E35AQFhRL5uAEFczw/profile-framedphoto-shrink_200_200/0/1638913507128?e=1641686400&v=beta&t=tChgLXQvrkBOm6xulstQ2i7qWnERm22uXfdi38KlYLo" class="img-fluid rounded-start" alt="Profile Pic Etienne">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                
                                <p class="card-text">Développeur Web en formation<br>WebForce3 Marseille</p>
                                <div class="card-socialLogos">
                                    <a href="https://www.linkedin.com/in/etienne-guignard-dev/">
                                        <img src="{{ asset('../assets/img/linkedin_logo_small.png') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-5 text-center">Selon une idée de : </h5> 
                <div class="card my-3 border-primary" style="max-width: 520px;">
                    <h5 class="card-header">
                        Benjamin Coquet
                    </h5>
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="{{ asset('../assets/img/pfp/pfp_benjamin.jpg') }}" class="img-fluid rounded-start" alt="Profile Pic Benjamin">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                
                                <p class="card-text">Chirurgien Viscéral <br> CH de Salon-de-Provence</p>
                                <div class="card-socialLogos">
                                    <a href="https://www.linkedin.com/in/benjamin-coquet-32498994/">
                                        <img src="{{ asset('../assets/img/linkedin_logo_small.png') }}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <h5> Sous le chaperonnage bienveillant de : </h5> 
                        <p>Gérard Kassapian (Formateur, WebForce3 Marseille)</p>
                </div>
                <div class="mt-5 text-center">
                    <h5> Et avec les conseils de : </h5> 
                        <p>Carole Bonnet (Infirmière Anesthésiste, CH de Salon-de-Provence)<br>
                        Joëlle Devaux (Directrice, WebForce3 Marseille)</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}