{% extends 'base.html.twig' %}


{% block body %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="pageTitle">
                Votre Espace Personnel - Infirmier(ère)
            </div>
        </div>
    </div>
        <h2 class="h2_account mb-4">Bonjour, {{app.user.firstname | capitalize}} {{app.user.name | capitalize}}. </h2>
        <div class="row d-flex justify-content-center">

            <div class="col-xs-12 col_account bg-primary m-1">
                <p><i class="fas fa-user-edit"></i></p>
                <a href="{{path('update_user',  { 'id': app.user.id })}}">Mettre à jour mes informations personnelles</a>
            </div>

            <div class="col-xs-12 col_account bg-secondary m-1">
                <p><img src="{{ asset('assets/img/scalpel-line-dashed.svg') }}" alt=""></p>
                <a href="{{path('availability')}}">Ajouter une annonce de disponibilité</a>
            </div>

            <div class="col-xs-12 col_account bg-primary m-1">
                <p><i class="far fa-calendar-alt" id="calendar"></i></p>
                <a href="{{path('display_availability',  { 'id': app.user.id })}}">Mes disponibilités</a>
            </div>
            <div class="col-xs-12 col_account bg-secondary m-1">
                <ul class="list_account">
                    <h3 class="h3_account">Informations Personnelles</h3>
                    <li><span>Adresse:</span> {{app.user.adress}}</li>
                    <li><span>Numéro:</span> {{app.user.phoneNumber}}</li>
                    <li><span>Code Postal:</span> {{app.user.zipCode}} </li>
                    <li><span>Ville:</span> {{app.user.city}}</li>
                    <li><span>Numéro CPS:</span> {{app.user.CPSNumber}}</li>
                </ul>
            </div>
            
            {% if (app.user.InstantAvailability =='Inactive') or (app.user.InstantAvailability == null)  %}
                <form action="{{path('account_nurse_active')}}">
                    <input type="hidden" name="nurseActive" id="nurseActive" value="nurseActive">
                    <button type="submit">Me rendre disponible</button>
                </form>
            {% else %}
                <form action="{{path('account_nurse_inactive')}}">
                    <input type="hidden" name="nurseInactive" id="nurseInactive" value="nurseInactive">
                    <button type="submit">Me rendre non disponible</button>
                </form>
            {% endif %}

</section>
{% endblock %}
