{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('addSurgerySuccess') %}
        <div class="alert alert-success appFlashError mt-3">
            {{ message }}
        </div>
{% endfor %}
{% for message in app.flashes('editSurgerySuccess') %}
        <div class="alert alert-success appFlashError mt-3">
            {{ message }}
        </div>
{% endfor %}

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="pageTitle">
                Mon Compte
            </div>
        </div>
    </div>
        <h4 class="mb-4 text-secondary">Bonjour, Dr. {{app.user.name | capitalize}}! </h4>
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 border border-secondary rounded d-flex justify-content-center m-1">
                <div class="align-self-center text-center m-3">
                    <a href="{{ path('surgery_notification') }}" class="text-dark">
                    <i class="fas fa-calendar-plus text-secondary img-thumbnail fa-7x mb-3"></i><br>
                    Ajouter une annonce de chirurgie</a>
                </div>
            </div>  
            <div class="col-md-3 border border-secondary rounded d-flex justify-content-center m-1">
                <div class="align-self-center text-center m-3">
                    <a href="{{ path('display_user_surgery', { 'id': app.user.id } ) }}" class="text-dark">
                    <i class="fas fa-calendar-alt text-primary img-thumbnail fa-7x mb-3"></i><br>
                    Voir mes annonces</a>
                </div>
            </div>  
            <div class="col-md-3 border border-primary rounded d-flex justify-content-center m-1">
                <div class="align-self-center text-center m-3">
                    <i class="fas fa-search text-secondary img-thumbnail fa-7x mb-3"></i>
                    <form action="{{path('search')}}" method="post" class="loginForm">
                        <label for="search">Nom et/ou Prénom :</label>
                        <input type="search" name="search" id="search" class="form-control mb-3" required minlength="2">
                        <button type="submit" class="btn btn-secondary mb-3">Rechercher un utilisateur</button>
                    </form>
                </div>
            </div>  
            <div class="col-md-6 border border-secondary rounded d-flex justify-content-center m-1">
                <div class="col-auto d-flex">
                    <p class="align-self-center text-center"><a href="{{ path('update_user', { 'id': app.user.id } ) }}" class="text-dark">
                        <i class="fas fa-user-edit text-primary img-thumbnail fa-7x"></i><br>
                    Modifier</a></p>
                </div> 
                <div class="col">
                <ul class="align-self-center m-3">
                    <h5>Mes Infos</h5>
                    <li><span>Adresse:</span> {{app.user.adress}}</li>
                    <li><span>Numéro:</span> {{app.user.phoneNumber}}</li>
                    <li><span>Code Postal:</span> {{app.user.zipCode}} </li>
                    <li><span>Ville:</span> {{app.user.city}}</li>
                    <li><span>Numéro CPS:</span> {{app.user.CPSNumber}}</li>
                    
                </ul>
                </div> 
            </div>
        </div>
    </div>         

{% endblock %}


