{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
{% set cpsAlert = "" %}

    <div class="row justify-content-center">
        <div class="col-md-8 pageTitle">
                Formulaire d'inscription
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="col-md-5">
            {{form_start(formCps)}}
            {{form_widget(formCps.numeroCarte, {'attr': {'placeholder' : "Votre n° de carte CPS/CPF (10 chiffres)"} }) }}
            {{form_errors(formCps.numeroCarte)}}
        </div>
        <div class="col-md-auto formSubmit">
            <button type="submit" class="btn btn-secondary">Verifier numéro CPS</button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            {% for message in app.flashes('cpsSuccess') %}
            {% set cpsAlert = "cpsSuccess" %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('cpsError') %}
            {% set cpsAlert = "cpsFail" %}
            <div class="alert alert-warning">
            {{ message }}
            </div>
            {% endfor %}
        {{form_end(formCps)}}
        </div>
    </div>
        {% if cpsAlert == "cpsSuccess" %}
            
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        
                        {{form_start(form)}}
                        {{form_row(form.postaCode)}}
                        {{form_row(form.email) }}
                        {{form_row(form.password) }}
                        {{form_row(form.name)}}
                        {{form_row(form.firstname)}}
                    </div>
                    <div class="col-md-5">
                        {{form_row(form.adress)}}
                        
                        {{form_row(form.city)}}
                        {{form_row(form.phoneNumber)}}
                        <select name="role" id="role" class="form-select">
                            <option value ="ROLE_SURGEON">Chirugien</option>
                            <option value ="ROLE_NURSE">Aide opératoire</option>  
                        </select>
                        {{form_row(form.surgicalSpeciality)}}
                        
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary">S'inscrire</button>
                    </div>
                </div>
                    {{form_end(form)}}
            
        {% endif %}

{% endblock %}
