{% extends 'base.html.twig' %}

{% block body %}
                <div class="row justify-content-center">
                    <div class="pageTitle">
                        Enregistrement (2/2)
                    </div>
                    <div class="col-md-5">
<!-- Alerts (if any : CPS check success / registration fail) -->
                        {% for message in app.flashes('cpsSuccess') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('registrationError') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-auto text-center">
                        <h5 class="my-3">Données fournis par votre CPS/CPF (non modifiables) :</h5>
                    </div>
                 </div>
                <div class="row justify-content-center">
                    <div class="col-md-5">
<!-- Form/Registration -->
                        {{ form_start(form, {attr: {novalidate: 'novalidate'}} ) }}
    <!-- Pre-filled -->
                        {{ form_row(form.cpsnumber, {'attr': {'value' : numeroCarte, 'class' : 'formDisabled'} }) }} 
                        <label for="role" class="form-label m-0">Profession</label>
                        {% if app.session.get('codeProfession')==10 %}
                        <input type="text" value="Chirurgien" id="role" class="form-control formDisabled m-0">
                        {% elseif app.session.get('codeProfession')==60 %}
                        <input type="text" value="Infirmier(ère)" id="role" class="form-control formDisabled m-0">   
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.name, {'attr': {'value' : nomDexercice, 'class' : 'formDisabled'} }) }}
                        {{ form_row(form.firstname, {'attr': {'value' : prenomDexercice, 'class' : 'formDisabled'}} ) }}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-auto text-center">
    <!-- login/password -->
                        <h5 class="my-3">Identifiants :</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        {{form_row(form.email) }}
                    </div>
                    <div class="col-md-5">
                        {{form_row(form.password) }}
                        
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 text-center">
    <!-- Contact info -->
                        <h5 class="my-3">Coordonnées :</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        {{form_row(form.phoneNumber)}}
                        {{form_row(form.adress)}}
                    </div>
                    <div class="col-md-5">
                        {{form_row(form.zipCode) }} 
                        {{form_row(form.city)}}
                    </div>   
                        {# {{form_row(form.surgicalSpeciality)}} #} 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary my-3">S'inscrire</button>
                    </div>
                </div>
                    {{form_end(form)}}

{% endblock %}
