{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 pageTitle">
            Mes demandes d'AO
    </div>
</div>
{% for message in app.flashes('deleteSurgerySuccess') %}
        <div class="alert alert-success appFlashError mt-3">
            {{ message }}
        </div>
{% endfor %}
    <section class="row d-flex flex-wrap justify-content-center">
    {% for surgery in surgeries %}
        <div class="col-md-3 p-3 m-3 border border-primary rounded">
                <ul class="list-unstyled">
                    <li><span class="text-secondary">Chirugie le :</span> {{surgery.start_date | date('d-m-Y') }}</li>
                    <li><span class="text-secondary">Spécialité :</span> {{surgery.speciality}}</li>
                    <li><span class="text-secondary">Description :</span> {{surgery.description}}</li>
                    <li><span class="text-secondary">Nom de la clinique :</span> {{surgery.clinic_name}}</li>
                    <li><span class="text-secondary">Code Postal :</span> {{surgery.clinic_zip_code}}</li>          
                </ul>
                <a href="{{path('edit_surgery_notification',  { 'id': surgery.id })}}"><button class="btn btn-secondary">Modifier</button></a>
                <a  class="deleteButton" href="{{path('delete_surgery_notification',  { 'id': surgery.id })}}"><button class="btn btn-danger">Supprimer</button></a>
        </div>
    {% endfor %}
    {% if surgeries is empty %}
    <div class="text-center">Aucun résultat à afficher.</div>
    {% endif %}
</section>
</div>
{% endblock %}