{% extends 'base.html.twig' %}



{% block body %}
<!-- {% if not is_granted("ROLE_SURGEON") %}
T'es pas chirurgien
{% endif %} -->

<div class="container">
    {{form_start(form)}}
    <div class="row justify-content-center">
        <div class="col-md-5">
            {{form_row(form.startDate)}}
            {{form_row(form.enDate)}}
            {{form_row(form.speciality)}}
            {{form_row(form.description)}}
            {{form_row(form.numberAoNeeded)}}
            {{form_row(form.clinicName)}}
            {{form_row(form.clinicZipCode)}}
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button class="btn btn-secondary" type="submit">Ajouter une notification</button>
        </div>
    </div>
        
    {{form_end(form)}}
</div>
{% endblock %}
