{% extends 'base.html.twig' %}


{% block body %}
<div class="row row-flex justify-content-center mb-5">
    <div class="pageTitle">
        Rechercher un(e) utilisateur(rice)
    </div>

    <div class="col-md-5"> 
            {% include "form/searchUser.html.twig" %}
    </div>
</div>
    <section class="row d-flex justify-content-center">
        {% for result in results %}
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front border border-primary rounded bg-white">
                        <h5 class="p-2 text-white bg-primary rounded-top">{{result.firstname | capitalize}} {{result.name}}</h5>
                        <img src="{{asset('assets/img/surgeon_icon.png')}}" alt="Icon chirurgien" class="mb-3">
                        <h5>{{result.city}} ({{result.zipcode}})</h5>
                    </div>
                    <div class="flip-card-back border border-secondary rounded bg-white">
                        <h5 class="p-2 text-white bg-secondary rounded-top">{{result.firstname | capitalize}} {{result.name}}</h5>
                        <ul class="list-unstyled">
                            <li><span class ="text-secondary">Adresse email: </span>{{result.email}}</li>
                            <li><span class ="text-secondary">Numéro: </span>{{result.phoneNumber}}</li>
                            <li><span class ="text-secondary">Numéro CPS/CPF: </span>{{result.cpsnumber}}</li>
                            <li><span class ="text-secondary">Ville: </span>{{result.city}} ({{result.zipCode}})</li>
                        </ul>
                    </div>
                </div>
            </div> 
        {% endfor %}
        {% if results is empty %}
        <div class="text-center">Aucun résultat à afficher.</div>
        {% endif %}
    </section>
{% endblock %}
