{% extends 'base.html.twig' %}

{% block body %}

    <div class="row row-flex justify-content-center mt-3">
        <div class="col-lg-6 col-md-10">
            {% include "form/searchAO.html.twig" %}
        </div>
    </div>

<section class="row d-flex justify-content-center">
    {% for result in results %}
        <div class="flip-card mt-3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="{{asset('assets/img/surgeon_icon.png')}}" alt="Icon chirurgien">
                <h3 class="h3CardSearch">{{result.name}} {{result.name}} </h3>
                    <p>Disponible du : <br> {{result.start_date | date('d-m-Y')}} Au {{result.end_date | date('d-m-Y')}} </p>
                </div>
                <div class="flip-card-back ">
                <h2 class="h2CardSearch mt-2">Mes coordonées</h2>
                <ul class="list_search">
                    <li><span>Adresse email: </span>{{result.email}}</li>
                    <li><span>Numéro: </span> {{result.phone_number}}</li>
                    <li><span>Numéro CPS/CPF:</span> {{result.cpsnumber}}</li>
                    <li><span>Kilomètrage Maximum:</span> {{result.commute_distance}}</li>
                </ul>
                </div>
            </div>
        </div> 
    {% endfor %}
    {% if results is empty %}
    <div class="noResult">Aucun résultat à afficher.</div>
    {% endif %}
    </section>
</div>
{% endblock %}
