{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    {# {% for result in results %}
        {{result.start_date | date('d-m-Y')}} <br>
        {{result.end_date| date('d-m-Y')}} <br>
        {{result.zip_code}} <br>
    {% endfor %} #}
<main class="container">
    <form class="row justify-content-center mb-5 form-group" action="{{path('search_availability')}}" method="post">
        <input class="mb-2 form-control" type="date" name="date" id="date">
        <input class="mb-2 form-control" type="integer" name="zipCode" id="zipCode" placeholder="Votre Numéro de département ici" >
        <button class="btn btn-primary" type="submit">rechercher une Aide operatoire disponible</button>
    </form>
<section class="row d-flew justify-content-center">
    {% for result in results %}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-secondary">
                <h2 class="h2CardSearch">{{result.name}} {{result.name}} </h2>
                <p>Disponible du :</p>
                <p>{{result.start_date | date('d-m-Y')}} </p>
                <p>Au </p>
                <p>{{result.start_date | date('d-m-Y')}} </p>
                </div>
                <div class="flip-card-back">
                <h2class="h2CardSearch">Contacte moi !</h2>
                    <p>{{result.email}} </p>
                    <p{{result.phone_number}}</p>
                </div>
            </div>
        </div> 
    {% endfor %}
    </section>
</main>
{% endblock %}
