{% extends 'base.html.twig' %}

{% block title %}Recherche Chirurgie{% endblock %}

{% block body %}
<div class="row row-flex justify-content-center">
    <div class="col-md-5"> 
            {% include "form/searchSurgery.html.twig" %}
    </div>
</div>

<section class="row d-flew justify-content-center mt-5">
    {% for result in results %}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="{{asset('assets/img/surgeon_icon.png')}}" alt="Icon chirurgien">
                <h3 class="h3CardSearch">{{result.name}} {{result.firstname}} </h3>
                    <p>Chirugie le: {{result.start_date | date('d-m-Y')}}<br>
                        Spécialité: {{result.speciality}}
                    </p>
                </div>
                <div class="flip-card-back">
                <h2 class="h2CardSearch mt-2">Coordonées.</h2>
                <ul class="list_search">
                    <li> <span> Adresse email: </span>{{result.email}}</li>
                    <li><span> Numéro: </span> {{result.phone_number}}</li>
                    <li><span> code postale:</span> {{result.clinic_zip_code}}</li>
                    <li><span> code postal:</span> {{result.clinic_zip_code}}</li>

                </ul>
                </div>
            </div>
        </div> 
    {% endfor %}
    </section>
</div>
{% endblock %}
