<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AdopteUnAO.com : mise en relation de chirurgiens et aides opératoires{% endblock %}</title>
        
        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/benoitswatch.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>    
        {% block header %}
            {% include "header.html.twig" %}
        {% endblock %}    
        {% block body %}{% endblock %}
        {% block script %}
            <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        {% endblock %}
        {% block footer %}
            {% include "footer.php" %}
        {% endblock %}
    </body>
</html>
