<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand logo text-secondary" href="{{path('home')}}">aideop.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    {# <li class="nav-item">
                        <a class="nav-link active" >Accueil</a>
                        <span class="visually-hidden">(current)</span>
                    </li> #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('cps_check') }}">Enregistrement</a>
                        <span class="visually-hidden">(current)</span>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A propos</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('about_us')}}">Qui sommes-nous?</a>
                            <a class="dropdown-item" href="{{path('informations')}}">Infos Pratiques</a>
                            <a class="dropdown-item" href="{{path('donate')}}">Faire un don</a>
                            <a class="dropdown-item" href="{{path('credits')}}">Crédits</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('contact')}}">Contactez-nous</a>
                        </div>
                    </li>
                </ul>
                <div class="d-flex"></div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="text-white mr-3"> Bonjour, {{app.user.firstname|capitalize}} ! </div>
                    <a href="{{ path('account') }}"><button class="btn btn-secondary mx-1" href="">Mon Compte</button></a>
                    <a href="{{ path('app_logout') }}"><button class="btn btn-light" href="">Déconnexion</button></a>
                    {% else %}
                    <a href="{{ path('login') }}"><button class="btn btn-secondary mx-1" href="">Me Connecter</button></a>    
                    <a href="{{ path('cps_check') }}"><button class="btn btn-light mx-1" href="">M'enregistrer</button></a>    
                    {% endif %}
                </div>

            </div>
        </div>
    </nav>
</header>